.sam {
    color: rgb(12, 1, 10);
    padding: 10px;
    background-color: rgb(185, 198, 169);
    border: 0.5px black solid;
    
}

.sam:hover {
    color: white;
    transform: rotate(6deg);
    /* background-color: white; */
    
}
